.shop-container {
	max-width: 1440px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.products-container {
	padding: 40px 40px 40px 10px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 20px;
}

.pagination {
	text-align: center;
	margin: 5rem 1rem;
}
.pagination button {
	padding: 5px 10px;
	margin-right: 5px;
}

.selected {
	background-color: gray;
	border: 3px solid black;
}
